* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  width: 100%;
}
.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.header {
  background: #222222;
  padding: 18px 4%;
}
.nav {
  justify-content: space-between;
  align-items: center;
}
.nav_right {
  width: 170px;
  justify-content: space-between;
  align-items: center;
}
.shop {
  position: relative;
}

.shop::after {
  content: "5";
  color: white;
  font-size: 13px;
  position: absolute;
  top: -9px;
  left: 20px;
  background: #f16d7f;
  text-align: center;
  border-radius: 50%;
  width: 19px;
  height: 19px;
}
.logo {
  margin-right: 40px;
}
.nav_left {
  align-items: baseline;
}
.top {
  gap: 63px;
  align-items: center;
  background: #f1e4e6;
}
.top_text {
  padding-left: 16px;
  border-left: 12px solid #f16d7f;
}
.top_text h1 {
  font-size: 48px;
}
.top_text span,
b {
  font-size: 32px;
  font-weight: 700;
}
.top_text b {
  color: #f16d7f;
}
.top img {
  max-width: 50%;
}

.nav-nav {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 232px;
  position: absolute;
  padding: 32px;
  top: 78px;
  right: 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.menu:hover .nav-nav {
  opacity: 1;
  visibility: visible;
}

.header-nav {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 24px;
}
.nav-nav-title {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 12px;
}
.nav-list {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.nav-list li {
  padding-bottom: 11px;
  padding-left: 20px;
}

li {
  list-style: none;
}
.acc {
  padding-top: 60px;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
  text-align: center;
  gap: 30px;
  margin-bottom: 96px;
}
.acc_item-1,
.acc_item-2,
.acc_item-3 {
  padding: 105px 0;
}
.acc_item-1 {
  background-image: url("../img/m1.png");
}
.acc_item-2 {
  background-image: url("../img/m2.jpg");
}
.acc_item-3 {
  background-image: url("../img/m3.jpg");
}
.acc_item-4 {
  background-image: url("../img/m4.jpg");
  grid-row: span 3;
  grid-column: span 3;
  padding: 65px 0;
}
.acc_title {
  color: #f16d7f;
  font-size: 24px;
}
.feature_list {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 48px;
}
.img {
  position: relative;
}
.btn_btn {
  position: absolute;
  width: 139px;
  height: 44px;
  visibility: hidden;
  opacity: 0;
  font-size: 14px;
  padding: 14px;
  display: flex;
  border: 1px solid #fff;
  color: #fff;
  top: calc(50% - 22px);
  left: calc(50% - 70px);
  align-items: center;
  transition: all 0.3s ease-out;
  z-index: 100;
}
.txt {
  padding-left: 3px;
}
.feature_item {
  cursor: pointer;
}
.feature_item .img {
  filter: brightness(100%);
  transition: all 0.3s ease;
}

.feature_item:hover img {
  filter: brightness(40%);
}
.feature_item:hover .btn_btn {
  visibility: visible;
  opacity: 1;
}
.feature_text {
  display: flex;
  max-width: 360px;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.feature_title {
  font-size: 13px;
  font-weight: 400;
}
.feature_desc {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
}
.feature_price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
}
.link_all {
  display: block;
  padding: 15px 39px;
  color: #f26376;
  border: 1px solid #ff6a6a;
  font-size: 16px;
  max-width: 215px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.delivery {
  background: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
}
.delivery_box {
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.dilivery_item {
  max-width: 360px;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  color: #fbfbfb;
  text-align: center;
  margin-bottom: 45px;
}
.d_title {
  font-size: 19px;
}
.d_desc {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
}
.subscribe {
  background: url("../img/sub.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 130px;
}
.s_box {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.s_item {
  flex-direction: column;
  max-width: 360px;
  gap: 31px;
  text-align: center;
}
.s_item .s_person {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}
.ss {
  gap: 0;
}
.s_title {
  margin-bottom: 10px;
}
.s_sub {
  margin-bottom: 32px;
}
.s_person_desc {
  font-size: 20px;
}
.s_title {
  font-size: 24px;
  font-weight: bold;
  color: #222224;
}
.s_sub {
  font-size: 18px;
  font-weight: 400;
  color: #222224;
}
#email {
  padding: 20px;
  font-size: 14px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-style: none;
}
#btn {
  font-size: 14px;
  color: #fff;
  background: #e05c6e;
  padding: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-style: none;
  margin: -10px;
}
.footer {
  background: #222224;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
.f_social {
  gap: 8px;
}
.f_social_item {
  width: 32px;
  height: 32px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.f_social_item:hover {
  background: #f16d7f;
}
.f_social_item:hover path {
  fill: #fff;
}
@media (max-width: 769px) {
  .top img {
    display: none;
  }
  .top {
    max-width: 100vw;
    min-height: 500px;
    justify-content: center;
    gap: 0;
  }
  .acc {
    grid-template-columns: repeat(2, 49%);
    gap: 15px;
    padding: 60px 2% 0;
  }
  .acc_item-4 {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .feature_list {
    grid-template-columns: repeat(2, 49%);
    padding: 0 2%;
    gap: 14px;
  }
  .s_box {
    flex-direction: column;
    width: 100%;
  }
  .ss {
    margin-top: 45px;
  }
}
@media (max-width: 376px) {
  .top_text h1 {
    margin: 0;
    padding: 0;
    line-height: 75%;
    font-size: 38px;
  }
  .top_title span,
  .top_title b {
    font-size: 20px;
  }
  .acc {
    grid-template-columns: repeat(1, 99%);
    gap: 15px;
    padding: 60px 2% 0;
  }
  .feature_list {
    grid-template-columns: repeat(1, 99%);
    padding: 0 2%;
    gap: 16px;
  }
  .acc_item-4 {
    padding: 30px;
  }
  .top {
    min-height: 365px;
  }
  .swg {
    width: 50px;
  }
  .p2,
  .p3 {
    width: 0;
    display: none;
  }
  .s_person_desc {
    font-size: 18px;
  }
  .s_sub {
    font-size: 14px;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .f_text {
    order: 2;
  }
  .f_social {
    margin-bottom: 40px;
  }
}
